.features {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.feature-title {
  margin-bottom: 8px;
  color: var(--color-navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
}

.description {
  color: var(--color-slate);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.icon-box {
  display: none;
}

.icon {
  width: 64px;
  height: 64px;
}

@media screen and (min-width: 768px) {
  .features {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--color-cloud);
    border: 1px solid var(--color-cornflower);
    border-radius: 4px;
  }

  .features-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .description {
    font-weight: 400;
  }
}
